<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="介绍本站点的目的">
        <meta name="author" content="@文琼">

        <%-include('pre-header.ejs') %>        
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        
        <div class="container main_container">
            <div class="row">
                <article>
                    <p></p>

                </article>
            </div>
        </div> <!-- /container -->

        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
    </body>
</html>