<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="Doc4Doc - 文档的文档 - 4xx 错误页面">
        <meta name="author" content="@濠梁钓鱼">

        <%-include('pre-header.ejs') %>        
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        <div class="container main_container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h2>Page Not Found</h2>
                    <p class="no_indent">你访问的页面已经不存在了， sorry !</p>
                    <ol>
                        <li><a href="#" onclick="window.location.reload();return false;" class="btn btn-link">刷新页面</a></li>
                        <li><a href="/" class="btn btn-link">回到主页</a></li>
                    </ol>
                </div>
                <div class="col-md-5">
                    <img src="/images/404.jpeg" width="100%">
                </div>
            </div>
        </div> <!-- /container -->

        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
    </body>
</html>