<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="">
        <meta name="author" content="@文琼">
        
        <%-include('pre-header.ejs') %>
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        
        <div class="container main_container">
            <div class="row">
                <div class="col-md-8">
                    <h2>网站介绍</h2>
                    <p>网站的作者来自杭州，在阿里工作，是一名软件开发工程师。因为周围的一些朋友做外贸生意，所以接触了一些外网的技术，为了不时之需在本网站做了一些知识记录，主要供学习交流。</p>
                    <h2>个人联系方式</h2>
               	    <div style="text-indent: 1em;">
    			 <a href="https://twitter.com/antsarks"><i class="fa fa-twitter fa-fw"></i></a>
   	   		 <a href="https://www.facebook.com/ants.arks"><i class="fa fa-facebook fa-fw"></i></a>
			 <a href="https://github.com/antark"><i class="fa fa-brands fa-github"></i></a>
		    </div>
		</div>
            <div class="col-md-4">
		<div class="shopping">
			<a href="https://www.amazon.com/HousePrint-Executive-Computer-Adjustable-Upholstered/dp/B0CMQ6PQW4?ref_=ast_sto_dp&th=1">
				<img alt="HousePrint Velvet Fabric Desk Chair for Home Office Chair Executive Modern Cute Computer Task Chair, Wheels Swivel Height Adjustable, Upholstered Comfy Office Chair (Puple)" class="" src="https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg" srcset="https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX198_SY186_.jpg 198w, https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX301_SY283_.jpg 301w, https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg 352w, https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX451_SY423_.jpg 451w, https://m.media-amazon.com/images/I/71d7zBoNkSL._AC_CR0%2C0%2C0%2C0_SX704_SY660_.jpg 704w" sizes="(max-width: 840px) 48vw,(max-width: 1500px) 24vw,352px" data-feature="af" data-testid="image">
			</>
			<a href="https://www.amazon.com/HousePrint-Adjustable-Flip-up-Padding-Ergonomic/dp/B0CMQ89P7N?ref_=ast_sto_dp&th=1">
				<img alt="HousePrint Home Office Chair Velvet Desk Chair, Comfy Chair High Back Adjustable Tilt Angle and Flip-up Arms and Thick Padding for Comfort, Ergonomic Design for Back Support (Grey)" class="" src="https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg" srcset="https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX198_SY186_.jpg 198w, https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX301_SY283_.jpg 301w, https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg 352w, https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX451_SY423_.jpg 451w, https://m.media-amazon.com/images/I/71gWA+j7WrL._AC_CR0%2C0%2C0%2C0_SX704_SY660_.jpg 704w" sizes="(max-width: 840px) 48vw,(max-width: 1500px) 24vw,352px" data-feature="af" data-testid="image">
			</a>
			<a href="https://www.amazon.com/HousePrint-Flip-up-Padding-Comfort-Ergonomic/dp/B0CMQ43XCP?ref_=ast_sto_dp">
				<img alt="HousePrint Velvet Chair Home Office Desk Chair, Modern Cute Vanity Chair for Women, Girls, High Back Tilt Angle, Flip-up Arms, Thick Padding for Comfort, Ergonomic Back Support (Blue)" class="" src="https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg" srcset="https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX198_SY186_.jpg 198w, https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX301_SY283_.jpg 301w, https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg 352w, https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX451_SY423_.jpg 451w, https://m.media-amazon.com/images/I/71yxNaPezKL._AC_CR0%2C0%2C0%2C0_SX704_SY660_.jpg 704w" sizes="(max-width: 840px) 48vw,(max-width: 1500px) 24vw,352px" data-feature="cf" data-testid="image">	
			</a>
			<a href="https://www.amazon.com/HousePrint-Executive-Footrest-Computer-Chair-Reclining/dp/B0CMQ6NK6M?ref_=ast_sto_dp">
				<img alt="HousePrint Executive Office Chair with Footrest, Executive Chair PU Leather Computer Chair, Big and Tall Chair&nbsp;Reclining Desk Chair Work Chair with Leg Rest, Seat Cushion Not Sunk in (Black)" class="" src="https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg" srcset="https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX198_SY186_.jpg 198w, https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX301_SY283_.jpg 301w, https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX352_SY330_.jpg 352w, https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX451_SY423_.jpg 451w, https://m.media-amazon.com/images/I/61lMVO4M21L._AC_CR0%2C0%2C0%2C0_SX704_SY660_.jpg 704w" sizes="(max-width: 840px) 48vw,(max-width: 1500px) 24vw,352px" data-feature="af" data-testid="image">
			</a>
		</div>
            </div><!-- row -->
        </div> <!-- container -->
        
<script>
</script>
        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
<script>
</script>
    </body>
</html>
