<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="">
        <meta name="author" content="@文琼">
        
        <%-include('pre-header.ejs') %>
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        
        <div class="container main_container">
            <div class="row">
                <div class="col-md-12">
                    <h2>网站介绍</h2>
                    <p>最近有点怀念10年前(2013年),那是临近毕业前夕,当时特别喜欢捣鼓东西,各种app engine(Goole AE/Baidu AE/Sina AE等)上搭建网站,分享学习的知识.毕业之后渐渐地都凉了.</p>
		    <p>最近chatGPT的出现让我有种已被时代抛弃的感觉,所以本人不得不重拾就业,继续学习.本网使用的都是10年前搞的东西::</p>
		    <ol>
			<li>在aliyun国际站上申请了一台ECS服务器/VPS;</li>
			<li>安装Node+mongoDB环境;</li>
			<li>使用2013年做的一个node-cms系统代码,搭起来了本网站.</li>
		    </ol>
		    <p>瞎捣鼓东西让人有种莫名的充实感.┓( ´∀` )┏</p>
                    <h2>个人联系方式</h2>
               	    <div style="text-indent: 1em;">
    			 <a href="https://twitter.com/antsarks"><i class="fa fa-twitter fa-fw"></i></a>
   	   		 <a href="https://www.facebook.com/ants.arks"><i class="fa fa-facebook fa-fw"></i></a>
		    </div>
		</div>
            </div><!-- row -->
        </div> <!-- container -->
        
<script>
</script>
        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
<script>
</script>
    </body>
</html>
