<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="">
        <meta name="author" content="@文琼">
        
        <%-include('pre-header.ejs') %>
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        
        <div class="container main_container">
            <div class="row">
                <div class="col-md-12">
                    <h2>个人介绍</h2>
                    <p>2014年毕业于浙江大学，然后一直在阿里巴巴工作，曾经在营销团队了做了最早的淘宝详情页到手价、购物车的计算明细和大促价保，负责日常和大促预售；现在数字供应链部门做研发。</p>
                    <h2>联系方式</h2>
                    <ol>
                        <li>微信：<strong>zdarks</strong></li>
                        <li>twitter: <a href="https://twitter.com/antsarks">@antsarks</a></li>
                        <li>邮箱：zdarks@126.com</li>
                    </ol>
                </div>
            </div><!-- row -->
        </div> <!-- container -->
        
<script>
</script>
        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
<script>
</script>
    </body>
</html>
