<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="">
        <meta name="author" content="@文琼">
        
        <%-include('pre-header.ejs') %>
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <%-include('./nav/header-nav.ejs') %>
        
        <div class="container main_container">
            <div class="row">
                <div class="col-md-8">
                    <h2>网站介绍</h2>
                    <p>网站的作者来自杭州，在阿里工作，是一名软件开发工程师。因为周围的一些朋友做外贸生意，所以接触了一些外网的技术，为了不时之需在本网站做了一些知识记录，主要供学习交流。</p>
                    <h2>个人联系方式</h2>
               	    <div style="text-indent: 1em;">
    			 <a href="https://twitter.com/antsarks"><i class="fa fa-twitter fa-fw"></i></a>
   	   		 <a href="https://www.facebook.com/ants.arks"><i class="fa fa-facebook fa-fw"></i></a>
			 <a href="https://github.com/antark"><i class="fa fa-brands fa-github"></i></a>
		    </div>
		</div>
            <div class="col-md-4">
		<%-include('./nav/shopping.ejs') %>
            </div><!-- row -->
        </div> <!-- container -->
        
<script>
</script>
        <%-include('footer.ejs') %>
        <%-include('post-footer.ejs') %>
<script>
</script>
    </body>
</html>
