<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <meta name="description" content="">
        <meta name="author" content="@濠梁钓鱼">

        <% include pre-header.ejs %>        
        <!-- specific css -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        
        <style></style>
    </head>
    <body>
        <% include ./nav/header-nav.ejs %>
        
        <div class="container main_container posts">
            <% if(typeof ntabs == 'undefined' || ntabs == false){ %>
            <div class="row">
                <a href="#"><img src="/images/beauty/qing_ming_shang_he_tu_01.png" width="100%" height="300"></a>
            </div>
            <div class="row self_profile">
                <ul class="nav nav-tabs nav_profile">
                    <li><a href="./profile">个人信息</a></li>
                    <li class="active"><a href="#">帖子</a></li>
                    <li><a href="./gallery">相册</a></li>
                    <li><a href="./file">文件</a></li>
                </ul>
            </div>
            <% } %>
            <div class="row">
            <div class="col-md-8">
            <ol id="notes_list" style="position:relative;">
            <% if(typeof posts !==  'undefined' && posts != null){ %>
            <% for(var i = 0; i < posts.length; ++i){ %>
                <!--<div class="">-->
                    <li>
                    <div class="posts_title" 
                        <% if(typeof user != 'undefined' && user && (user._id.toString() == posts[i].user_id || user.name == 'admin')){ %>
                            onmousemove="$(this).children(':first-child').next().css('visibility', 'visible');return false;" 
                            onmouseout="$(this).children(':first-child').next().css('visibility', 'hidden');return false;"
                        <% } %>
                    >
                        <h3 class="mark_first_letter"><a href="/post-show/id/<%= posts[i]._id %>"><%= posts[i].title %></a></h3>
                        <div class="posts_operation">
                            <a post_id="<%= posts[i]._id %>" class="btn btn-link  btn-xs post_delete"><i class="fa fa-trash-o fa-lg"></i></a>
                            <a href="/post-edit?post_id=<%= posts[i]._id %>" target="_blank" class="btn btn-link btn-xs"><i class="fa fa-pencil fa-lg"></i></a>
                        </div>
                        <hr>
                    <% 
                        time = posts[i].time;
                        year = time.getFullYear(); mon = time.getMonth()+1; day = time.getDate();
                        post_time = year + '/' + mon + '/' + day;
                    %>
                    
                    </div>
                    <div class="posts_content">
                        <div class="posts_meta">由 <a href="<%= posts[i].user_name ? '/+'+posts[i].user_name : '#' %>"><%= posts[i].user_name || '未知' %></a> 于 <%= post_time %> 时间写成</div>
                        <p><%- posts[i].summary %>
                    </div>
                    </li>
                <!--</div>-->
            <% }//for %>
            <% }//if %>
            </ol>
            </div>
            <% include ./nav/tupian_xinshang.ejs %>
            </div><!-- row -->
        </div>
<script>
    var posts = <%- typeof posts == 'undefined' ? 'null' : JSON.stringify(posts) %>;
    var user = <%- typeof user == 'undefined' ? 'null' : JSON.stringify(user) %>;
    var other_user = <%- typeof other == 'undefined' ? 'null' : JSON.stringify(other) %>;
    var cat = '<%= typeof tag == 'undefined' ? '' : tag %>';
    var project = '<%= typeof project == 'undefined' ? '' : project %>';
</script>
        <% include footer.ejs %>
        <% include post-footer.ejs %>
<script>
function wookmark_post()
{
    $('#notes_list li').wookmark({
        autoResize: "true",
        align: "left",
        direction: "left",
        itemWidth: "45%",
        offset: 50,
        container: $("#notes_list"),
        flexibleWidth: 1,
        resizeDelay: 50,
        fillEmptySpace: false,
        outerOffset: 1,
        comparator: null    // 排序
    });
}
$(document).ready(function(){
    
    $(".posts_more").on("click", function(){
        //
    });
    $(".post_delete").on("click", function(){
        var post_id = $(this).attr("post_id");
        // alert(post_id);
        var link = $(this);
        $.post("/post-delete", {"post_id": post_id}, function(msg){
            if(msg.error){
                alert(msg.error.info);
            }else{
                // alert("删除成功! ");
                link.parents("#notes_list li").remove();
            }
        });
    });
    
    wookmark_post();
    
    wookmark_post_finished = false;
    wookmark_post_loading = false;
    $(document).bind("scroll", function(event){
        var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
        if(closeToBottom && !wookmark_post_finished && !wookmark_post_loading){
            wookmark_post_loading = true;
            $.get("/get-one-page-of-posts?nskip="+(posts.length)+"&n=4&cat="+cat+"&project="+project+
                "&user_id="+(typeof other_user != 'undefined' && other_user ? other_user._id : ''), function(msg){
                if(msg.error){
                    return;
                }
                var another = msg.objects;
                if(another.length == 0){
                    wookmark_post_finished = true;
                    return;
                }
                for(ii = 0; ii < another.length; ii++){
                    var post_time = new Date(another[ii].time);
                    var year = post_time.getFullYear(); mon = post_time.getMonth()+1; day = post_time.getDate();
                    var show_time = year + '/' + mon + '/' + day;
                    $("#notes_list").append('<li><div class="posts_title"><h3 class="mark_first_letter"><a href="/post-show?post_id='+another[ii]._id+'">'+
                        another[ii].title+'</a></h3>'+
                        '</div><div class="posts_content"><div class="posts_meta">发表时间：'+show_time+'</div>'+
                        another[ii].summary+'</div></li>');
                    posts.push(another[ii]);
                }
                wookmark_post();
                wookmark_post_loading = false;
            });
        }
    });
});
</script>
    </body>
</html>